body {
    background-color:rgb(71, 3, 26);
    text-decoration-color: white;
}
h1 {
    text-align: center;
}
#container {
    width: 100%;
}
#form {
    width: 50%;
    float: left;
    text-align: center;
}
#list {
    width: 50%;
    float: right;
}
input {
    text-align: center;
    font-size: medium;
}
button {
    font-size: medium;
}
h2 {
    text-align: center;
}
#outputone {
    margin: 35%;
}